# MongoDB
MONGODB_URL=mongodb://localhost:27017
DATABASE_NAME=warehouse_dev

# Application
APP_NAME=Warehouse API
API_V1_STR=/api/v1
DEBUG=True

# JWT
JWT_SECRET_KEY=change-me-in-production
JWT_ALGORITHM=HS256